<!DOCTYPE html>
<html lang="en_GB">
    <head>
        <meta charset="UTF-8">
        <base target="_parent" />

        <title>OJFord's blog</title>

        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
    <% for @post in @posts %>
        <div class="post">
            <div class="title">
                <h1>
                    <a href="/post/<%= @post['fname'] %>">
                        <%= @post['title'] %>
                    </a>
                </h1>
            </div>

            <div class="date">
                <span>
                    <%= @post['date'] %>
                </span>
            </div>
        </div>
    <% end %>
    </body>
</html>

