<!DOCTYPE html>
<html lang="en_GB">
    <head>
        <meta charset="UTF-8">

        <title>OJFord's blog</title>

        <link rel="stylesheet" href="/common.css">
    </head>
    <body>
        <table cellspacing="0">
            <tbody>
            <% for @post in @posts %>
                <tr class="post">
                    <td class="title">
                        <h1>
                            <a href="/post/<%= @post['fname'] %>">
                                <%= @post['title'] %>
                            </a>
                        </h1>
                    </td>

                    <td class="date">
                        <%= @post['date'] %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </body>
</html>

