<!DOCTYPE html>
<html lang="en_GB">
    <head>
        <meta charset="UTF-8">
        <base target="_parent" />

        <title>OJFord's blog</title>

        <link rel="stylesheet" href="/index.css">

        <script type="text/javascript">
            window.onload = function(){
                var url = (window.location != window.parent.location)
                    ? document.referrer
                    : document.location.href;

                var post_fname = url.substr(url.indexOf("/post/"));
                document.querySelectorAll("div.post").forEach(function(el){

                    if (el.querySelector("div h1 a[href=\"" + post_fname + "\"]") !== null) {
                        el.style.display = "none";
                        return true;
                    }
                });
            }
        </script>
    </head>
    <body>
    <% for @post in @posts %>
        <div class="post">
            <div class="title">
                <h1>
                    <a href="/post/<%= @post['fname'] %>">
                        <%= @post['title'] %>
                    </a>
                </h1>
            </div>

            <div class="date">
                <span>
                    <%= @post['date'] %>
                </span>
            </div>
        </div>
    <% end %>
    </body>
</html>

