code {
    white-space: pre;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
}

#content {
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
}

iframe#index {
    width: 100%;
}
